<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Tef_Ip" value="127.0.0.1"/>
    <!-- IP onde o Gerenciador do TEF esta instalado -->
    <add key="Tef_Empresa" value="00000000"/>
    <!-- Codigo da Empresa -->
    <add key="Tef_EmpresaCnpj" value="11111111111111"/>
    <!-- CNPJ da Empresa que usará o TEF -->
    <add key="Tef_Terminal" value="000001"/>
    <!-- Numero do Terminal que esta acessando o TEF com 6 posições numericas com zero a esquerda -->
    <add key="Tef_SoftwareHouseCnpj" value="22222222222222"/>
    <!-- CNPJ da Software House Homologada no Sitef -->
    <add key="Tef_PinPadVerificar" value="0"/>
    <!-- Verificar se o PinPad está conectado >> value: 0=NAO    1=SIM -->
	<add key="Tef_PinPadQrCode" value="0"/>
	<!-- Verificar se o QrCode para Pagamento em Carteiras Digitais será enviado ao PinPad >> value: 0=NAO    1=SIM -->
    <add key="Tef_PinPadPorta" value="AUTO_USB"/>
    <!-- Porta onde o PinPad esta conectado, Exemplo: >> value: AUTO_USB ou a porta serial: 01, 02, 03 etc sem o inicio COM-->
    <add key="Tef_PinPadMensagem" value="Exemplo CliSiTef      DLL"/>
    <!-- Mensagem que vai aparecer no visor do PinPad-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>